[MASTER]
init-hook='from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.dirname(find_pylintrc()))'

[DESIGN]

# Minimum number of public methods for a class
min-public-methods=0

# Maximum number of characters on a single line.
max-line-length=120
